<button (click)="notification1()">notification1</button>
<button (click)="notification2()">notification2</button>
<!-- <button (click)="openMyDialogRenderer()">open my cutom dialog 1(renderer)</button> -->
<button (click)="openMyDialog()">open my custom dialog 2</button>


<div id="dialogContainer" #myDialogContainer class="myDialogContainer" (click)="closeDialog($event)">
    <div id="dialog" class="myDialog">
        <div class="header">
            <span style="width: 100%; padding: 5px;">Title</span>
            <span style="float: right; padding-right: 12px; cursor: pointer;" id="dialogCloseButton" (click)="closeDialog($event)">&#10005;</span>
        </div>
        <div class="content">
            <app-logout></app-logout>
        </div>
    </div>
</div>